a {
	color: #0000FF;
}

table {
	border-collapse: collapse;
	border-spacing: 6px;
}

.text {
	width: 100%;
}

.error_text {
	color: #dd0000;
	font-family: helvetica;
	margin-left: 5%;
	margin-top: 20px;
}

.main_table {
	width: 99%;
	height: 99%;
	padding: 10px;
	margin: auto;
	position: absolute;
}

.header {
	height: 100px;
	border-bottom: 3px solid black;
}

.header_text {
	color: #3A527E;
	font-size: 30px;
	font-family: helvetica;
	padding-left: 35px;
	padding-top: 20px;
}

.header_links {
	color: #0000FF;
	font-family: helvetica;
	text-align: right;
	padding-right: 20px;
	padding-bottom: 10px;
}

.current_link {
	color: #ff8000;
}

.footer {
	height: 2%;
	text-align: center;
	font-weight: bold;
	font-size: 14px;
	font-family: helvetica;
	border-top: 3px solid black;
}

.side_bar {
	border: 0px;
	width: 20%;
	vertical-align: top;
}

.content {
	border-left: 0px;
}

.content_table {
	border: 2px solid #DAD5B7;
	width: 99%;
	height: 97%;
	margin: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	vertical-align: top;
	text-align: left;
}

.content_table_capture {
	height: 15px;
	padding-top: 10px;
	padding-left: 20px;
	/* margin-left:10px; */
}

.content_table_body {
	vertical-align: top;
}

.delete_button_list {
	padding: 10px 5% 0px 0px;
	text-align: right;
}

.view_table, .item_table, .addEdit_table {
	border-collapse: separate;
	border-spacing: 20px 20px;
	width: 96%;
	font-family: helvetica;
	margin-left: 3%;
}

.item_title {
	width: 20%;
	text-align: left;
	font-weight: 600;
	color: black;
}

.view_title {
	width: 15%;
	vertical-align: top;
	color: #787878;
	font-size: 15px;
	font-family: helvetica;
}

.addEdit_title {
	width: 15%;
	vertical-align: top;
	font-size: 15px;
	font-family: helvetica;
}

.item_date {
	width: 20%;
	text-align: right;
	text-decoration: underline;
}

.item_content {
	text-align: justify;
}

.view_content {
	text-align: justify;
}

.item_edit_view {
	text-align: right;
	padding-right: 5%;
}

.view_button {
	text-align: right;
}

.buttons_table {
	text-align: right;
}

.buttons_center {
	margin-left: 40%;
}

.buttons_block {
	height: 20px;
}

.menu {
	width: 80%;
	padding: 3% 3% 5% 3%;
	margin: auto;
	margin-top: 10px;
	background: #c0c0c0;
}

.menu_title {
	background-color: #808080;
	color: #ffffff;
	font-size: 15px;
	font-family: helvetica;
	text-align: center;
	margin-left: 1%;
	padding: 2% 0%;
}

.menu_content {
	background-color: #ffffff;
	margin-left: 12%;
	margin-bottom: 7%;
	padding-bottom: 5px;
}

.menu_mark {
	height: 10px;
	width: 10px;
	margin-left: 15px;
	margin-right: 15px;
}