header {
	display: block;
	margin: 0 auto;
	width: 90%;
	height: 80px;
	border: 2px solid #000;
	position: relative;
}

.header-text a {
	display: inline;
	font-size: 34px;
	line-height: 80px;
	font-family: "Times New Roman";
	padding-left: 30px;
	color: black;
	opacity: 0.35;
	text-decoration: none;
	transition: opacity .4s ease;
}

.header-text a:hover {
	opacity: 1;
}

.header-links {
	display: inline;
	position: absolute;
	text-transform: uppercase;
	right: 4px;
	top: 60px;
}

.header-links a {
	text-decoration: none;
	color: black;
	opacity: 0.55;
	transition: opacity .4s ease;
}

.header-links a:hover {
	color: orange;
	opacity: 1;
}

.credentials-wrapper {
	position: absolute;
	display: inline;
	right: 4px;
	top: 8px;
}

.credentials-wrapper p {
	display: inline;
	padding-right: 8px;
}

.credentials-wrapper form {
	display: inline;
}

main {
	margin: 0 auto;
	width: 90%;
	border: 2px solid #000;
}

.login-wrapper {
	margin: 220px auto;
	width: 320px;
}

form .login-input-wrapper, .password-input-wrapper {
	padding: 5px;
}

.login-input-wrapper label {
	display: inline-block;
	width: 45px;
	padding-right: 36px;
}

.password-input-wrapper label {
	padding-right: 5px;
	width: 76px; 
	display: inline-block;
}

.login-message {
	display: block;
	padding: 5px;
	color: red;
}

.login-wrapper input[type=submit] {
	margin-left: 224px;
}

aside {
	display: inline-block;
	float: left;
	background: lightgray;
	border-top: 1px solid gray;
	width: 178px;
	padding: 0 16px 20px 20px;
	margin-top: 8px;
	padding: 0 16px 20px 20px;
}

aside .menu {
	background: white;
	padding: 0px;
	margin: 0 auto;
}

.menu a {
	text-decoration: none;
	color: black;
	opacity: 0.7;
	transition: opacity .4s ease;
}

.menu a:hover {
	opacity: 1;
}

.menu p {
	padding: 8px 8px 4px 8px;
	margin: 0;
}

.menu p span {
	padding-right: 3px;
}

.content-block {
	border: 1px solid #e3e3e3;
	margin: 8px 8px 8px 212px;
	padding: 8px;
}

.non-aside-main .content-block {
	margin: 8px;
}

.filter-wrapper {
	margin-top: 12px;
}

.filter-wrapper form {
	text-align: center;
}

.multiselect {
	position: relative;
	display: inline-block;
	width: 112px;
	padding: 0;
	margin: 0;
}

.selectBox {
	display: inline-block;
}

.selectBox select {
	width: 100%;
}

.overSelect {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

.checkboxes {
	position: absolute;
	display: none;
	z-index: 2;
	border: 1px #dadada solid;
	background: white;
	left: 0px;
	width: 109px;
	text-align: left;
}

.checkboxes label {
	display: block;
	padding-left: 10px;
}

.checkboxes label:hover {
	background-color: #e3e3e3;
}

article {
	display: block;
	margin: 28px 10px;
}

article.full-article {
	margin: 0;
}

.full-article .article-head {
	position: relative;
	padding: 12px 0 0 36px;
}

.full-article .article-head .article-head-date {
	position: absolute;
	right: 20px;
}

.full-article  .article-content {
	padding: 0 56px 0 36px;
	text-align: justify;
}

.short-desc .article-head {
	position: relative;
}

.short-desc .article-head a {
	text-decoration: none;
	color: black;
	transition: color .4s ease;
}

.short-desc .article-head a:hover {
	color: orange;
}

.short-desc .article-head .article-head-date {
	position: absolute;
	right: 0px;
}

.short-desc  .article-content {
	text-align: justify;
}

.article-head h3 {
	display: inline;
	line-height: 10px;
}

.article-info {
	text-align: right;
}

.article-info .article-tags {
	display: inline;
}

.article-info .article-tags .tag {
	color: #e3e3e3;
	display:inline-block;
}

.article-info .article-tags .tag:hover {
	color: #858585;
	/* cursor: pointer; */
}

.article-info .article-tags .tag input[type=submit] {
	background:none;
	border:none;
	
}

.article-info .article-info-comments {
	padding: 0 20px 0 8px;
}

.article-info a {
	color: orange;
	transition: all .4s ease;
	text-decoration: none;
}

.article-info a:hover {
	color: black;
}

.article-comments {
	padding: 0 12px 0 36px;
}

.comment .comment-date {
	display: block;
	text-decoration: underline;
}

.comment .comment-text {
	position: relative;
	display: block;
	margin-left: 10px;
	background: #e3e3e3;
	width: 424px;
	padding: 4px 0;
}

.comment-text input {
	position: absolute;
	background-color: lightskyblue;
	border: none;
	top: -7px;
	right: -6px;
	width: 17px;
	height: 17px;
	border-radius: 10px;
	font-size: 12px;
	padding: 0;
	opacity: 0.6;
}

.comment-text input:hover {
	opacity: 1;
}

.comment-input-wrapper {
	margin-left: 10px;
	margin-top: 10px;
	width: 400px;
	position: relative;
}

.comment-input-wrapper form input {
	display: inline;
	margin-left: 306px
}

.delete-wrapper {
	text-align: right;
	margin-bottom: 60px;
}

.pagination-block {
	background-color: lightgrey;
	padding: 12px;
	text-align: center;
}

.pagination-block a {
	text-decoration: none;
	color: black;
	opacity: 0.55;
	transition: opacity .4s ease;
}

.pagination-block a:hover {
	color: orange;
	opacity: 1;
}

.news-editor-wrapper {
	margin: 28px 10px;
}

.news-editor-wrapper div {
	padding: 12px 0;
}

.news-editor-wrapper .selectBox {
	padding: 0;
}

.news-editor-wrapper label {
	margin: 0 auto;
	width: 100%;
	font-weight: bold;
}
/* bad bad  */
.news-title label {
	display: inline-block;
	width: 104px;
}

.news-title input {
	width: 84%;
}

.news-date label {
	display: inline-block;
	width: 104px;
}

.news-brief label {
	display: inline-block;
	width: 104px;
}

.news-brief textarea {
	width: 84%;
}

.news-content label {
	display: inline-block;
	width: 104px;
}

.news-content textarea {
	width: 84%;
}
/* ================================================== */
.news-editor-filter {
	width: 270px;
	margin: 0 auto;
}

.news-editor-wrapper .submit-wrapper {
	text-align: right;
	margin-bottom: 60px;
	margin-left: 84%;
}

.author-editor, .tag-editor {
	margin: 40px 20px;
}

.author-form, .tag-form {
	margin: 36px 0;
}

.author-form label, .tag-form label, .author-creation-form label,
	.tag-creation-form label {
	display: inline-block;
	width: 90px;
	font-weight: bold;
}

.author-form input[type=text], .tag-form input[type=text] {
	width: 62%;
}

.author-form a, .tag-form a {
	padding-left: 28px;
	cursor: pointer;
	opacity: 0.75;
	text-decoration: none;
	color: black;
}

.author-form a:hover, .tag-form a:hover {
	opacity: 1;
}

.edit-block {
	display: none;
	padding-left: 28px;
}

.edit-block input[type=submit] {
	background: none;
	border: none;
	padding: 0;
	opacity: 0.75;
	color: black;
}

.edit-block input[type=submit]:hover {
	opacity: 1;
}

.footer {
	display: inline-block;
	border-top: 2px solid #000;
	width: 100%;
	font-size: 13px;
	text-align: center;
}