header {
	display: block;
	margin: 0 auto;
	width: 90%;
	height: 80px;
	border: 2px solid #000;
	position: relative;
}

.header-text a {
	display: inline;
	font-size: 34px;
	line-height: 80px;
	font-family: "Times New Roman";
	padding-left: 30px;
	color: black;
	opacity: 0.35;
	text-decoration: none;
	transition: opacity .4s ease;
}

.header-text a:hover {
	opacity: 1;
}

.header-links {
	display: inline;
	position: absolute;
	text-transform: uppercase;
	right: 4px;
	top: 60px;
}

.header-links a {
	text-decoration: none;
	color: black;
	opacity: 0.55;
	transition: opacity .4s ease;
}

.header-links a:hover{
	color:orange;
	opacity:1;
}

main {
	margin: 0 auto;
	width: 90%;
	border: 2px solid #000;
}

.content-block {
	display: block;
	border: 1px solid #e3e3e3;
	margin: 8px;
	padding: 8px;
}

.filter-wrapper {
	margin-top: 12px;
}

.filter-wrapper form {
	text-align: center;
}

.multiselect {
	position: relative;
	display: inline-block;
	width: 112px;
	padding: 0;
	margin: 0;
}

.selectBox {
	display: inline-block;
}

.selectBox select {
	width: 100%;
}

.overSelect {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

.checkboxes {
	display: none;
	border: 1px #dadada solid;
	position: absolute;
	left: 2px;
	width: 107px;
	text-align: left;
}

.checkboxes label {
	display: block;
	padding-left: 10px;
}

.checkboxes label:hover {
	background-color: #e3e3e3;
}

article {
	display: block;
	margin: 28px 10px;
}

article.full-article{
	margin:0;
}

.full-article .article-head {
	position: relative;
	padding: 12px 0 0 36px;
}

.full-article .article-head .article-head-date {
	position: absolute;
	right: 20px;
}

.full-article  .article-content {
	padding: 0 56px 0 36px;
	text-align: justify;
}

.short-desc .article-head {
	position: relative;
}

.short-desc .article-head .article-head-date {
	position: absolute;
	right: 0px;
}

.short-desc  .article-content {
	text-align: justify;
}

.article-head h3 {
	display: inline;
	line-height: 10px;
}

.article-info {
	text-align: right;
}

.article-info .article-tags {
	display: inline;
}

.article-info .article-tags .tag {
	color: #e3e3e3;
	display:inline-block;
}

.article-info .article-tags .tag:hover {
	color: #858585;
	cursor: pointer;
}

.article-info .article-tags .tag input[type=submit] {
	background:none;
	border:none;
	
}

.article-info .article-info-comments {
	padding: 0 20px 0 8px;
}

.article-info a {
	color: orange;
	transition: all .4s ease;
	text-decoration: none;
}

.article-info a:hover {
	color: black;
}

.article-comments {
	padding: 0 12px 0 36px;
}

.comment .comment-date {
	display: block;
	text-decoration: underline;
}

.comment .comment-text {
	position: relative;
	display: block;
	margin-left: 10px;
	background: #e3e3e3;
	width: 424px;
	padding: 4px 0;
}

.comment-text input {
	position: absolute;
	top: 0;
	right: 0;
	width: 10px;
	height: 15px;
	font-size: 10px;
}

.comment-input-wrapper {
	margin-left: 10px;
	margin-top: 10px;
	width: 400px;
	position: relative;
}

.comment-input-wrapper form input {
	display: inline;
	margin-left: 306px
}

.pagination-block {
	background-color: lightgrey;
	padding: 12px;
	text-align: center;
}

.pagination-block a {
	text-decoration: none;
	color: black;
	opacity: 0.55;
	transition: opacity .4s ease;
}

.pagination-block a:hover{
	color:orange;
	opacity:1;
}

.footer p {
	display: inline-block;
	border-top: 2px solid #000;
	width: 100%;
	font-size: 13px;
	text-align: center;
	margin: 0;
}